@use '../../../../abstract/_variables'

section
    display: flex
    flex-flow: column wrap
    gap: 10px
    .div__personal-info
        display: flex
        flex-direction: column
        justify-content: space-between
        border: 2px solid variables.$color-quaternary
        border-radius: 10px
        padding: 10px

    .div__first-evaluation__info
        display: flex
        flex-direction: column
        justify-content: space-between
        border: 2px solid variables.$color-quaternary
        border-radius: 10px
        padding: 10px
